# FPL Data Generator

This notebook scrapes played matches, then generates the required CSV files for the accompanying Tableau dashboards.

In [1]:
#Standard data manipulations
import pandas as pd
import numpy as np

from datetime import date
import sqlite3
import pickle

#Import custom functions
from PythonFunctions.apicallers import *
from PythonFunctions.sqlfunctions import *
from PythonFunctions.matchscrapers import *

#Suppress warnings from showing
import warnings
warnings.filterwarnings('ignore')

#Connect to the SQL database
conn = sqlite3.connect('Data/20_21fpl.db')
#Instantiate a cursor
c = conn.cursor()

Work out which matches we ought to have data for, which aren't present in the database.

In [2]:
to_run = suggested_match_ids()
print(to_run)

[]

Update data for these matches.

In [3]:
CoreDataUpdater(to_run, c, conn)

Sweep up matches that the updater might have missed.

In [14]:
CoreDataUpdater(list(range(58898,58987)), c, conn)

FAILURE: Match 58898 failed to scrape - may not have been played yet


FAILURE: Match 58899 failed to scrape - may not have been played yet


FAILURE: Match 58900 failed to scrape - may not have been played yet

Stored match 0.0 (ID: 58901)
Match 58901 object successfully instantiated
Match 58901 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Match 58901 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Match 58901 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58901 SQL entries committed
Stored match 0.0 (ID: 58902)
Match 58902 object successfully instantiated
Match 58902 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Match 58902 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row

Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Match 58902 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58902 SQL entries committed
Stored match 0.0 (ID: 58903)
Match 58903 object successfully instantiated
Match 58903 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Match 58903 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Match 58903 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58903 SQL entries committed
Stored match 0.0 (ID: 58904)
Match 58904 object successfully instantiated
Match 58904 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Match 58904 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row

Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Match 58904 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58904 SQL entries committed
Stored match 0.0 (ID: 58905)
Match 58905 object successfully instantiated
Match 58905 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Match 58905 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Match 58905 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58905 SQL entries committed
Stored match 0.0 (ID: 58906)
Match 58906 object successfully instantiated
Match 58906 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Match 58906 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row

Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Match 58906 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58906 SQL entries committed
Stored match 0.0 (ID: 58907)
Match 58907 object successfully instantiated
Match 58907 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Match 58907 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Match 58907 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58907 SQL entries committed
Stored match 0.0 (ID: 58908)
Match 58908 object successfully instantiated
Match 58908 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Match 58908 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row

Match 58908 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58908 SQL entries committed
Stored match 0.0 (ID: 58909)
Match 58909 object successfully instantiated
Match 58909 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Match 58909 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Match 58909 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58909 SQL entries committed
Stored match 0.0 (ID: 58910)
Match 58910 object successfully instantiated
Match 58910 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Match 58910 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row

Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Match 58910 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58910 SQL entries committed
Stored match 0.0 (ID: 58911)
Match 58911 object successfully instantiated
Match 58911 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Match 58911 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Match 58911 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58911 SQL entries committed
Stored match 0.0 (ID: 58912)
Match 58912 object successfully instantiated
Match 58912 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Match 58912 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row

Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Error on row 61 - you may be trying to upload a duplicate row
Match 58912 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58912 SQL entries committed
Stored match 0.0 (ID: 58913)
Match 58913 object successfully instantiated
Match 58913 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Match 58913 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Match 58913 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58913 SQL entries committed
Stored match 0.0 (ID: 58914)
Match 58914 object successfully instantiated
Match 58914 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Match 58914 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row

Match 58914 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58914 SQL entries committed
Stored match 0.0 (ID: 58915)
Match 58915 object successfully instantiated
Match 58915 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Match 58915 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Match 58915 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58915 SQL entries committed
Stored match 0.0 (ID: 58916)
Match 58916 object successfully instantiated
Match 58916 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Match 58916 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row

Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Error on row 61 - you may be trying to upload a duplicate row
Error on row 62 - you may be trying to upload a duplicate row
Match 58916 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58916 SQL entries committed
Stored match 0.0 (ID: 58917)
Match 58917 object successfully instantiated
Match 58917 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Match 58917 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Match 58917 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58917 SQL entries committed
Stored match 0.0 (ID: 58918)
Match 58918 object successfully instantiated
Match 58918 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Match 58918 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row

Match 58918 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58918 SQL entries committed
Stored match 0.0 (ID: 58919)
Match 58919 object successfully instantiated
Match 58919 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Match 58919 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Error on row 61 - you may be trying to upload a duplicate row
Error on row 62 - you may be trying to upload a duplicate row
Error on row 63 - you may be trying to upload a duplicate row
Match 58919 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58919 SQL entries committed
Stored match 0.0 (ID: 58920)
Match 58920 object successfully instantiated
Match 58920 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Match 58920 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row

Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Match 58920 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58920 SQL entries committed
Stored match 0.0 (ID: 58921)
Match 58921 object successfully instantiated
Match 58921 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Match 58921 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Match 58921 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58921 SQL entries committed
Stored match 0.0 (ID: 58922)
Match 58922 object successfully instantiated
Match 58922 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Match 58922 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row

Match 58922 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58922 SQL entries committed
Stored match 0.0 (ID: 58923)
Match 58923 object successfully instantiated
Match 58923 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Match 58923 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Match 58923 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58923 SQL entries committed
Stored match 0.0 (ID: 58924)
Match 58924 object successfully instantiated
Match 58924 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row

Match 58924 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Match 58924 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58924 SQL entries committed
Stored match 0.0 (ID: 58925)
Match 58925 object successfully instantiated
Match 58925 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Match 58925 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row

Match 58925 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58925 SQL entries committed
Stored match 0.0 (ID: 58926)
Match 58926 object successfully instantiated
Match 58926 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Match 58926 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Match 58926 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58926 SQL entries committed
Stored match 0.0 (ID: 58927)
Match 58927 object successfully instantiated
Match 58927 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Match 58927 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row

Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Match 58927 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58927 SQL entries committed
Stored match 0.0 (ID: 58928)
Match 58928 object successfully instantiated
Match 58928 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Match 58928 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Match 58928 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58928 SQL entries committed
Stored match 0.0 (ID: 58929)
Match 58929 object successfully instantiated
Match 58929 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Match 58929 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row

Error on row 56 - you may be trying to upload a duplicate row
Match 58929 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58929 SQL entries committed
Stored match 0.0 (ID: 58930)
Match 58930 object successfully instantiated
Match 58930 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Match 58930 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Match 58930 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58930 SQL entries committed
Stored match 0.0 (ID: 58931)
Match 58931 object successfully instantiated
Match 58931 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Match 58931 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row

Match 58931 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58931 SQL entries committed
Stored match 0.0 (ID: 58932)
Match 58932 object successfully instantiated
Match 58932 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Match 58932 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Error on row 61 - you may be trying to upload a duplicate row
Error on row 62 - you may be trying to upload a duplicate row
Error on row 63 - you may be trying to upload a duplicate row
Match 58932 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58932 SQL entries committed
Stored match 0.0 (ID: 58933)
Match 58933 object successfully instantiated
Match 58933 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Match 58933 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row

Match 58933 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58933 SQL entries committed
Stored match 0.0 (ID: 58934)
Match 58934 object successfully instantiated
Match 58934 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Match 58934 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Match 58934 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58934 SQL entries committed
Stored match 0.0 (ID: 58935)
Match 58935 object successfully instantiated
Match 58935 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Match 58935 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row

Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Error on row 61 - you may be trying to upload a duplicate row
Match 58935 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58935 SQL entries committed
Stored match 0.0 (ID: 58936)
Match 58936 object successfully instantiated
Match 58936 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Match 58936 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Match 58936 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58936 SQL entries committed
Stored match 0.0 (ID: 58937)
Match 58937 object successfully instantiated
Match 58937 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Match 58937 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row

Error on row 56 - you may be trying to upload a duplicate row
Match 58937 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58937 SQL entries committed
Stored match 0.0 (ID: 58938)
Match 58938 object successfully instantiated
Match 58938 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Match 58938 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Match 58938 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58938 SQL entries committed
Stored match 0.0 (ID: 58939)
Match 58939 object successfully instantiated
Match 58939 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Match 58939 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row

Match 58939 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58939 SQL entries committed
Stored match 0.0 (ID: 58940)
Match 58940 object successfully instantiated
Match 58940 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Match 58940 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Match 58940 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58940 SQL entries committed
Stored match 0.0 (ID: 58941)
Match 58941 object successfully instantiated
Match 58941 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Match 58941 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row

Error on row 59 - you may be trying to upload a duplicate row
Match 58941 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58941 SQL entries committed
Stored match 0.0 (ID: 58942)
Match 58942 object successfully instantiated
Match 58942 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Match 58942 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Error on row 61 - you may be trying to upload a duplicate row
Error on row 62 - you may be trying to upload a duplicate row
Error on row 63 - you may be trying to upload a duplicate row
Error on row 64 - you may be trying to upload a duplicate row
Match 58942 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58942 SQL entries committed

FAILURE: Match 58943 failed to scrape - may not have been played yet

Stored match 0.0 (ID: 58944)
Match 58944 object successfully instantiated
Match 58944 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row

Match 58944 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Match 58944 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58944 SQL entries committed
Stored match 0.0 (ID: 58945)
Match 58945 object successfully instantiated
Match 58945 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Match 58945 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row

Match 58945 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58945 SQL entries committed
Stored match 0.0 (ID: 58946)
Match 58946 object successfully instantiated
Match 58946 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Match 58946 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Match 58946 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58946 SQL entries committed
Stored match 0.0 (ID: 58947)
Match 58947 object successfully instantiated
Match 58947 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Match 58947 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row

Error on row 58 - you may be trying to upload a duplicate row
Match 58947 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58947 SQL entries committed
Stored match 0.0 (ID: 58948)
Match 58948 object successfully instantiated
Match 58948 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Match 58948 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Match 58948 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58948 SQL entries committed
Stored match 0.0 (ID: 58949)
Match 58949 object successfully instantiated
Match 58949 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Match 58949 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row

Match 58949 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58949 SQL entries committed
Stored match 0.0 (ID: 58950)
Match 58950 object successfully instantiated
Match 58950 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Match 58950 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Match 58950 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58950 SQL entries committed
Stored match 0.0 (ID: 58951)
Match 58951 object successfully instantiated
Match 58951 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row

Match 58951 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Match 58951 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58951 SQL entries committed
Stored match 0.0 (ID: 58952)
Match 58952 object successfully instantiated
Match 58952 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Match 58952 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row

Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Match 58952 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58952 SQL entries committed
Stored match 0.0 (ID: 58953)
Match 58953 object successfully instantiated
Match 58953 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Match 58953 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Match 58953 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58953 SQL entries committed
Stored match 0.0 (ID: 58954)
Match 58954 object successfully instantiated
Match 58954 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Match 58954 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row

Match 58954 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58954 SQL entries committed
Stored match 0.0 (ID: 58955)
Match 58955 object successfully instantiated
Match 58955 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Match 58955 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Match 58955 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58955 SQL entries committed
Stored match 0.0 (ID: 58956)
Match 58956 object successfully instantiated
Match 58956 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Match 58956 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row

Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Match 58956 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58956 SQL entries committed
Stored match 0.0 (ID: 58957)
Match 58957 object successfully instantiated
Match 58957 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Match 58957 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Match 58957 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58957 SQL entries committed
Stored match 0.0 (ID: 58958)
Match 58958 object successfully instantiated
Match 58958 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Match 58958 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row

Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Match 58958 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58958 SQL entries committed
Stored match 0.0 (ID: 58959)
Match 58959 object successfully instantiated
Match 58959 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Match 58959 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Match 58959 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58959 SQL entries committed
Stored match 0.0 (ID: 58960)
Match 58960 object successfully instantiated
Match 58960 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Match 58960 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row

Match 58960 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58960 SQL entries committed
Stored match 0.0 (ID: 58961)
Match 58961 object successfully instantiated
Match 58961 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Match 58961 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Error on row 61 - you may be trying to upload a duplicate row
Error on row 62 - you may be trying to upload a duplicate row
Error on row 63 - you may be trying to upload a duplicate row
Error on row 64 - you may be trying to upload a duplicate row
Error on row 65 - you may be trying to upload a duplicate row
Error on row 66 - you may be trying to upload a duplicate row
Match 58961 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58961 SQL entries committed
Stored match 0.0 (ID: 58962)
Match 58962 object successfully instantiated
Match 58962 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Match 58962 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row

Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Match 58962 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58962 SQL entries committed
Stored match 0.0 (ID: 58963)
Match 58963 object successfully instantiated
Match 58963 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Match 58963 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Match 58963 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58963 SQL entries committed
Stored match 0.0 (ID: 58964)
Match 58964 object successfully instantiated
Match 58964 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Match 58964 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row

Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Match 58964 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58964 SQL entries committed
Stored match 0.0 (ID: 58965)
Match 58965 object successfully instantiated
Match 58965 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Match 58965 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Match 58965 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58965 SQL entries committed
Stored match 0.0 (ID: 58966)
Match 58966 object successfully instantiated
Match 58966 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Match 58966 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row

Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Error on row 61 - you may be trying to upload a duplicate row
Error on row 62 - you may be trying to upload a duplicate row
Error on row 63 - you may be trying to upload a duplicate row
Match 58966 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58966 SQL entries committed
Stored match 0.0 (ID: 58967)
Match 58967 object successfully instantiated
Match 58967 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Match 58967 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Match 58967 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58967 SQL entries committed
Stored match 0.0 (ID: 58968)
Match 58968 object successfully instantiated
Match 58968 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Match 58968 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Match 58968 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row

Error on row 1 - you may be trying to upload a duplicate row
Match 58968 SQL entries committed
Stored match 0.0 (ID: 58969)
Match 58969 object successfully instantiated
Match 58969 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Match 58969 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Match 58969 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58969 SQL entries committed
Stored match 0.0 (ID: 58970)
Match 58970 object successfully instantiated
Match 58970 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Match 58970 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row

Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Error on row 61 - you may be trying to upload a duplicate row
Match 58970 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58970 SQL entries committed
Stored match 0.0 (ID: 58971)
Match 58971 object successfully instantiated
Match 58971 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Match 58971 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Match 58971 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58971 SQL entries committed
Stored match 0.0 (ID: 58972)
Match 58972 object successfully instantiated
Match 58972 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Match 58972 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row

Match 58972 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58972 SQL entries committed
Stored match 0.0 (ID: 58973)
Match 58973 object successfully instantiated
Match 58973 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Match 58973 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Match 58973 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58973 SQL entries committed
Stored match 0.0 (ID: 58974)
Match 58974 object successfully instantiated
Match 58974 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Match 58974 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row

Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Match 58974 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58974 SQL entries committed
Stored match 0.0 (ID: 58975)
Match 58975 object successfully instantiated
Match 58975 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Match 58975 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Match 58975 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58975 SQL entries committed
Stored match 0.0 (ID: 58976)
Match 58976 object successfully instantiated
Match 58976 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Match 58976 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row

Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Match 58976 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58976 SQL entries committed
Stored match 0.0 (ID: 58977)
Match 58977 object successfully instantiated
Match 58977 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Match 58977 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Match 58977 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58977 SQL entries committed
Stored match 0.0 (ID: 58978)
Match 58978 object successfully instantiated
Match 58978 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Match 58978 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row

Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Match 58978 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58978 SQL entries committed
Stored match 0.0 (ID: 58979)
Match 58979 object successfully instantiated
Match 58979 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Match 58979 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Match 58979 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58979 SQL entries committed
Stored match 0.0 (ID: 58980)
Match 58980 object successfully instantiated
Match 58980 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row

Match 58980 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Match 58980 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58980 SQL entries committed
Stored match 0.0 (ID: 58981)
Match 58981 object successfully instantiated
Match 58981 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Match 58981 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row

Error on row 57 - you may be trying to upload a duplicate row
Error on row 58 - you may be trying to upload a duplicate row
Error on row 59 - you may be trying to upload a duplicate row
Error on row 60 - you may be trying to upload a duplicate row
Match 58981 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58981 SQL entries committed
Stored match 0.0 (ID: 58982)
Match 58982 object successfully instantiated
Match 58982 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Match 58982 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Match 58982 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58982 SQL entries committed
Stored match 0.0 (ID: 58983)
Match 58983 object successfully instantiated
Match 58983 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Match 58983 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Match 58983 team detail dataframe successfully created

Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58983 SQL entries committed
Stored match 0.0 (ID: 58984)
Match 58984 object successfully instantiated
Match 58984 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Match 58984 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row
Error on row 55 - you may be trying to upload a duplicate row
Error on row 56 - you may be trying to upload a duplicate row
Match 58984 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58984 SQL entries committed
Stored match 0.0 (ID: 58985)
Match 58985 object successfully instantiated
Match 58985 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Match 58985 player detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Error on row 14 - you may be trying to upload a duplicate row
Error on row 15 - you may be trying to upload a duplicate row
Error on row 16 - you may be trying to upload a duplicate row
Error on row 17 - you may be trying to upload a duplicate row
Error on row 18 - you may be trying to upload a duplicate row
Error on row 19 - you may be trying to upload a duplicate row
Error on row 20 - you may be trying to upload a duplicate row
Error on row 21 - you may be trying to upload a duplicate row
Error on row 22 - you may be trying to upload a duplicate row
Error on row 23 - you may be trying to upload a duplicate row
Error on row 24 - you may be trying to upload a duplicate row
Error on row 25 - you may be trying to upload a duplicate row
Error on row 26 - you may be trying to upload a duplicate row
Error on row 27 - you may be trying to upload a duplicate row
Error on row 28 - you may be trying to upload a duplicate row
Error on row 29 - you may be trying to upload a duplicate row
Error on row 30 - you may be trying to upload a duplicate row
Error on row 31 - you may be trying to upload a duplicate row
Error on row 32 - you may be trying to upload a duplicate row
Error on row 33 - you may be trying to upload a duplicate row
Error on row 34 - you may be trying to upload a duplicate row
Error on row 35 - you may be trying to upload a duplicate row
Error on row 36 - you may be trying to upload a duplicate row
Error on row 37 - you may be trying to upload a duplicate row
Error on row 38 - you may be trying to upload a duplicate row
Error on row 39 - you may be trying to upload a duplicate row
Error on row 40 - you may be trying to upload a duplicate row
Error on row 41 - you may be trying to upload a duplicate row
Error on row 42 - you may be trying to upload a duplicate row
Error on row 43 - you may be trying to upload a duplicate row
Error on row 44 - you may be trying to upload a duplicate row
Error on row 45 - you may be trying to upload a duplicate row
Error on row 46 - you may be trying to upload a duplicate row
Error on row 47 - you may be trying to upload a duplicate row
Error on row 48 - you may be trying to upload a duplicate row
Error on row 49 - you may be trying to upload a duplicate row
Error on row 50 - you may be trying to upload a duplicate row
Error on row 51 - you may be trying to upload a duplicate row
Error on row 52 - you may be trying to upload a duplicate row
Error on row 53 - you may be trying to upload a duplicate row
Error on row 54 - you may be trying to upload a duplicate row

Match 58985 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58985 SQL entries committed

FAILURE: Match 58986 failed to scrape - may not have been played yet

In [4]:
MatchSweeper(c, conn)

Attempting to scrape [58900]

FAILURE: Match 58900 failed to scrape - may not have been played yet

# CSV Creation

In [5]:
#Bring in XG functions now (note this is brought in after the new goal data is known)
from PythonFunctions.xg import *

#Generate a player detail dataframe, with the XG stats 
df_pm = pd.merge(df_pm_generator(),
                 api_stat_generator(),
                 on=['MatchID','Player']).drop(['TableIndex','Minutes'], axis=1)

df_tm = df_tm_generator()

In [6]:
df_pm.tail(10)

,MatchID,Player,GameWeek,ForTeam,AgainstTeam,RelativeStrength,Goals,ShotsOnTarget,ShotsInBox,CloseShots,...,Position,Date,BPS,CleanSheet,MinutesPlayed,NetTransfersIn,Points,Price,Saves,SelectedBy
4906,58977,Jeffrey Schlupp,9,Crystal Palace,Burnley,0,0,0,0,0,...,MID,2020-11-23,2,0.0,23.0,-345,1,5.4,0.0,6471
4907,58977,Max Meyer,9,Crystal Palace,Burnley,0,0,0,0,0,...,MID,2020-11-23,0,0.0,0.0,-108,0,4.8,0.0,3022
4908,58977,Jairo Riedewald,9,Crystal Palace,Burnley,0,0,0,1,0,...,MID,2020-11-23,9,0.0,66.0,34371,2,4.4,0.0,137402
4909,58977,Nathan Ferguson,9,Crystal Palace,Burnley,0,0,0,0,0,...,DEF,2020-11-23,0,0.0,0.0,-5122,0,3.9,0.0,58245
4910,58977,Tyrick Mitchell,9,Crystal Palace,Burnley,0,0,0,0,0,...,DEF,2020-11-23,0,0.0,0.0,-210604,0,4.1,0.0,1496091
4911,58977,Brandon Pierrick,9,Crystal Palace,Burnley,0,0,0,0,0,...,MID,2020-11-23,0,0.0,0.0,-193,0,4.4,0.0,8926
4912,58977,Scott Dann,9,Crystal Palace,Burnley,0,0,0,0,0,...,DEF,2020-11-23,14,0.0,90.0,17765,2,4.4,0.0,70973
4913,58977,Eberechi Eze,9,Crystal Palace,Burnley,0,0,0,0,0,...,MID,2020-11-23,12,0.0,90.0,14602,2,5.8,0.0,39069
4914,58977,Sam Woods,9,Crystal Palace,Burnley,0,0,0,0,0,...,DEF,2020-11-23,0,0.0,0.0,-1141,0,4.0,0.0,51989
4915,58977,Ryan Inniss,9,Crystal Palace,Burnley,0,0,0,0,0,...,DEF,2020-11-23,0,0.0,0.0,-268,0,4.0,0.0,4278

In [7]:
df_tm.tail(10)

,MatchID,ForTeam,AgainstTeam,RelativeStrength,GameWeek,Home,Possession,Goals,ShotsOnTarget,TotalShots,...,ShotsLeft,ShotsRight,ShotsInBoxConceded,CloseShotsConceded,HeadersConceded,ShotsCentreConceded,ShotsLeftConceded,ShotsRightConceded,XG,XGC
166,58985,Wolverhampton Wanderers,Southampton,0,9,Home,45.3,1,9,20,...,4,3,5,3,0,2,1,2,2.766582,1.173115
167,58985,Southampton,Wolverhampton Wanderers,0,9,Away,54.7,1,2,7,...,1,2,15,10,6,8,4,3,1.173115,2.766582
168,58976,Aston Villa,Brighton and Hove Albion,0,9,Home,55.4,1,4,15,...,2,1,4,2,1,4,0,0,1.989924,0.996983
169,58976,Brighton and Hove Albion,Aston Villa,0,9,Away,44.6,2,3,7,...,0,0,8,6,1,5,2,1,0.996983,1.989924
170,58978,Fulham,Everton,-1,9,Home,54.1,2,6,14,...,0,0,5,7,1,5,0,0,0.843266,3.957798
171,58978,Everton,Fulham,1,9,Away,45.9,3,7,9,...,0,0,2,3,1,2,0,0,3.957798,0.843266
172,58979,Leeds United,Arsenal,-2,9,Home,66.3,0,4,25,...,0,1,4,4,0,3,0,1,1.961207,1.209206
173,58979,Arsenal,Leeds United,2,9,Away,33.7,0,2,9,...,0,1,11,4,4,10,0,1,1.209206,1.961207
174,58977,Burnley,Crystal Palace,0,9,Home,46.1,1,4,10,...,0,2,4,5,1,4,1,1,1.625805,2.021685
175,58977,Crystal Palace,Burnley,0,9,Away,53.9,0,5,15,...,1,1,6,7,2,4,0,2,2.021685,1.625805

In [8]:
df_matches.drop('TableIndex', axis=1).to_csv('Outputs/fixtures.csv')
df_pm.to_csv('Outputs/player_data.csv')
df_tm.to_csv('Outputs/team_data.csv')

In [9]:
def next_x_games(team, x, df_tm = df_tm):
    
    '''
    returns a dataframe for the next x games for a given team
    '''

    df_temp = df_matches[(df_matches['Team']==team)
              &~(df_matches['MatchID']).isin(list(df_tm['MatchID']))].head(x)
    
    return df_temp[['MatchID','Opposition']]



def prev_x_games(team, x, df_tm = df_tm):
    
    #Create a dataframe with the right team
    return df_tm.loc[df_tm['ForTeam']==team].sort_values('GameWeek', ascending=False).head(x)



def weighted_prev_xg(team, x, final_weight = 0.5, df_tm = df_tm):
    
    df_temp = prev_x_games(team=team, x=x, df_tm=df_tm)
    
    #Calculate weights that we will apply to historical values to get an
    #average that emphasises recent performance
    x = len(df_temp)
    
    df_temp['Weights'] = [1-i*(1-final_weight)/(x-1) for i in range(x)]
    df_temp['Weights'] = df_temp['Weights'].map(lambda x: x/df_temp['Weights'].sum())
    
    df_temp['XG_Weighted'] = df_temp['Weights'] * df_temp['XG']
    df_temp['XGC_Weighted'] = df_temp['Weights'] * df_temp['XGC']
    
    xg = df_temp['XG_Weighted'].sum()
    xgc = df_temp['XGC_Weighted'].sum()

    return {'xg_weighted':xg,
           'xgc_weighted':xgc}


def upcoming_xg_index(team, x_back, x_forward,
                      final_weight = 0.5, forward_weight = 0.25,
                      df_tm = df_tm):
    '''
    Creates a dataframe for a team, which has the XG and XGC of itself and
    upcoming teams, as calculated by the weighted functions
    '''
    
    df_stub = next_x_games(team, x=x_forward, df_tm = df_tm)
    
    team_stats = weighted_prev_xg(team, x_back, final_weight = final_weight)
    df_stub['xg'] = [team_stats['xg_weighted'] for i in range(x_forward)]
    df_stub['xgc'] = [team_stats['xgc_weighted'] for i in range(x_forward)]
    
    df_stub['Opp_xg'] = [weighted_prev_xg(i, x_back,
                                          final_weight = final_weight)['xg_weighted']
                          for i in df_stub['Opposition']]
    
    df_stub['Opp_xgc'] = [weighted_prev_xg(i, x_back,
                                           final_weight = final_weight)['xgc_weighted']
                          for i in df_stub['Opposition']]
        
    df_stub['xg_index'] = df_stub['xg'] * df_stub['Opp_xgc']
    df_stub['xgc_index'] = df_stub['xgc'] * df_stub['Opp_xg']
    
    x = len(df_stub)
    
    df_stub['Weights'] = [1-i*(1-forward_weight)/(x-1) for i in range(x)]
    df_stub['Weights'] = df_stub['Weights'].map(lambda x: x/df_stub['Weights'].sum())
    
    xg_index_avg = (df_stub['Weights'] * df_stub['xg_index']).sum()
    xgc_index_avg = (df_stub['Weights'] * df_stub['xgc_index']).sum()
    
    return xg_index_avg, xgc_index_avg


def upcoming_xg_index_df(x_back = 5, x_forward = 6,
                      final_weight = 0.6, forward_weight = 0.4,
                      df_tm = df_tm):
    
    df_temp = pd.DataFrame(columns = ['Team','XGIndex','XGCIndex'])
    
    for i in df_teams['CommentName']:
        indices = upcoming_xg_index(i, x_back, x_forward,
                                    final_weight, forward_weight, df_tm)
        
        new_row = pd.DataFrame({'Team':[i],
                                'XGIndex':[indices[0]],
                                'XGCIndex':[indices[1]]})
        
        df_temp = pd.concat([df_temp, new_row]).reset_index(drop=True)
        
    return df_temp

In [10]:
df_xg_index = upcoming_xg_index_df()
df_xg_index.to_csv('Outputs/xg_index.csv')

In [11]:
df_xg_index.sort_values('XGIndex', ascending=False)

                        Team   XGIndex  XGCIndex
10                 Liverpool  5.257984  2.515194
12         Manchester United  4.688461  1.551336
8             Leicester City  4.478636  4.004073
6                    Everton  4.068912  3.763380
11           Manchester City  3.930510  1.433474
4                    Chelsea  3.867970  2.250664
1                Aston Villa  3.783474  2.893089
9               Leeds United  3.772024  3.745618
5             Crystal Palace  3.731839  2.730507
15               Southampton  3.282789  3.531072
2   Brighton and Hove Albion  3.035789  2.442853
19   Wolverhampton Wanderers  2.715399  2.776729
16         Tottenham Hotspur  2.624138  2.994067
18           West Ham United  2.612087  4.199738
13          Newcastle United  2.575699  4.033110
14          Sheffield United  2.500172  5.374545
0                    Arsenal  2.433223  2.756159
7                     Fulham  2.335623  5.361434
17      West Bromwich Albion  1.770098  3.740913
3                    Burnley  1.376504  4.004269

In [12]:
df_xg_index.sort_values('XGCIndex')

                        Team   XGIndex  XGCIndex
11           Manchester City  3.930510  1.433474
12         Manchester United  4.688461  1.551336
4                    Chelsea  3.867970  2.250664
2   Brighton and Hove Albion  3.035789  2.442853
10                 Liverpool  5.257984  2.515194
5             Crystal Palace  3.731839  2.730507
0                    Arsenal  2.433223  2.756159
19   Wolverhampton Wanderers  2.715399  2.776729
1                Aston Villa  3.783474  2.893089
16         Tottenham Hotspur  2.624138  2.994067
15               Southampton  3.282789  3.531072
17      West Bromwich Albion  1.770098  3.740913
9               Leeds United  3.772024  3.745618
6                    Everton  4.068912  3.763380
8             Leicester City  4.478636  4.004073
3                    Burnley  1.376504  4.004269
13          Newcastle United  2.575699  4.033110
18           West Ham United  2.612087  4.199738
7                     Fulham  2.335623  5.361434
14          Sheffield United  2.500172  5.374545

Ta dah.