In [1]:
#Standard data manipulations
import pandas as pd
import numpy as np

from datetime import date
import sqlite3
import pickle

#Import custom functions
from PythonFunctions.apicallers import *
from PythonFunctions.sqlfunctions import *
from PythonFunctions.matchscrapers import *

#Suppress warnings from showing
import warnings
warnings.filterwarnings('ignore')

#Connect to the SQL database
conn = sqlite3.connect('Data/20_21fpl.db')
#Instantiate a cursor
c = conn.cursor()

In [3]:
try:
    sql('''DROP TABLE matches_basic''', c)
    
except:
    pass

TypeError: 'NoneType' object is not iterable

In [4]:
df_matches = df_matches_constructor()

In [5]:
create_sql_table(df_matches, c, 'matches_basic')

populate_sql_from_dataframe(df_matches, 'matches_basic', c)

conn.commit()

CREATE TABLE matches_basic (matches_basicID INTEGER PRIMARY KEY, TableIndex TEXT, MatchID INTEGER, GameWeek TEXT, Date TEXT, Team TEXT, Opposition TEXT, Home TEXT, unique (MatchID, GameWeek, Date, Team, Opposition, Home));

New table added

In [7]:
df_matches.GameWeek.unique()

array(['TBC', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37], dtype=object)