In [1]:
#Standard data manipulations
import pandas as pd
import numpy as np
from PythonFunctions.apicallers import *
from PythonFunctions.sqlfunctions import *
from PythonFunctions.matchscrapers import *
import sqlite3
import pickle

conn = sqlite3.connect('Data/20_21fpl.db')
#Instantiate a cursor
c = conn.cursor()

In [2]:
match_scrape = get_matches([58897], verbose=True)[0]
match_object = Match(match_scrape)

Stored match 0.0 (ID: 58897)

In [4]:
CoreDataUpdater([58897], c, conn)

Stored match 0.0 (ID: 58897)
Match 58897 object successfully instantiated
Match 58897 shot detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Error on row 2 - you may be trying to upload a duplicate row
Error on row 3 - you may be trying to upload a duplicate row
Error on row 4 - you may be trying to upload a duplicate row
Error on row 5 - you may be trying to upload a duplicate row
Error on row 6 - you may be trying to upload a duplicate row
Error on row 7 - you may be trying to upload a duplicate row
Error on row 8 - you may be trying to upload a duplicate row
Error on row 9 - you may be trying to upload a duplicate row
Error on row 10 - you may be trying to upload a duplicate row
Error on row 11 - you may be trying to upload a duplicate row
Error on row 12 - you may be trying to upload a duplicate row
Error on row 13 - you may be trying to upload a duplicate row
Match 58897 player detail dataframe successfully created
Match 58897 team detail dataframe successfully created
Error on row 0 - you may be trying to upload a duplicate row
Error on row 1 - you may be trying to upload a duplicate row
Match 58897 SQL entries committed

FAILURE: Match 58897 failed to scrape - may not have been played yet

url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
results = requests.get(url).json()

prices = []

for i in results['elements']:
    prices.append(i['now_cost']/10)
    
df_players['Price'] = prices
df_players.to_csv('Players')

df_teams = team_basic_df_generator()

df_teams

team_strengths = []
opposition_strengths = []

for i in df_matches['Team']:
    print(i)
    strength = df_teams.loc[df_teams['CommentName']==i,'Strength'].item()
    team_strengths.append(strength)

for i in df_matches['Opposition']:
    opposition_strengths.append(df_teams.loc[df_teams['CommentName']==i,'Strength'].item())
    
df_matches['TeamStrength'] = team_strengths
df_matches['OppositionStrength'] = opposition_strengths

df_matches

df_players.to_csv('players.csv')
df_matches.to_csv('matches.csv')

In [ ]:
with open('goal_probs.pickle', 'rb') as f:
    goal_probs = pickle.load(f)

In [ ]:
goal_probs

In [ ]:
conn2 = sqlite3.connect('Data/Archive/fpl.db')
#Instantiate a cursor
c2 = conn2.cursor()

In [ ]:
shot_detail_19_20 = sql('select * from ShotsDetail', c2)

In [ ]:
shot_detail_19_20 = shot_detail_19_20.reset_index(drop=True).drop('TableIndex', axis=1)

In [ ]:
create_sql_table(shot_detail_19_20, c, 'shot_detail_19_20')

In [ ]:
populate_sql_from_dataframe(shot_detail_19_20, 'shot_detail_19_20', c)
conn.commit()

In [ ]:
#Create the shot detail dataframe for that match
temp_shot_detail_df = combine_shot_tables([match_object])

#Create the player matches detail dataframe
#Firstly, we need to create a simple player games table for the match
temp_player_df = PlayerBasicsGenerator([match_object], df_players)

#Then we use the extender to populate
temp_player_detail_df = df_player_games_extender(temp_player_df,
                                                 shot_df = temp_shot_detail_df,
                                                 verbose=False)

In [6]:
shots_19_20 = sql('select * from shot_detail_19_20', c)
shots_20_21 = sql('select * from shots_detail', c)

df_all_shots = pd.concat([shots_19_20, shots_20_21])